@model IEnumerable<RepoPattern.Models.ViewModel.ViewPostViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<section class="section">
  <div class="container">
    <div class="row masonry-container">
        @if(Model != null){
            foreach (var post in Model)
        {
            <div class="col-lg-4 col-sm-6 mb-5">
        <article class="text-center">
          <img class="img-fluid mb-4" src="~/@Url.Content(post.IconUri)" alt="post-thumb">
          <p class="text-uppercase mb-2">@post.Title</p>
          <h4 class="title-border"><a class="text-dark" href="blog-single.html">@post.Description</a></h4>
          <p>@post.Description</p>
          <a href="#" class="btn btn-transparent">read more</a>
        </article>
      </div>
        }
        }
    </div>
  </div>
</section>
