<footer class="bg-secondary">
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
                    <a href="index.html"><img src="~/images/Logo/logo.png" alt="RepoPattern Blog" class="img-fluid"></a>
                </div>
                <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
                    <h6>Address</h6>
                    <ul class="list-unstyled">
                        <li class="font-secondary text-dark">Lagos</li>
                        <li class="font-secondary text-dark">20 Griffith Street, Lagos Island</li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
                    <h6>Contact Info</h6>
                    <ul class="list-unstyled">
                        <li class="font-secondary text-dark">Tel: +234 816 8958 726</li>
                        <li class="font-secondary text-dark">Mail: quadrikazeem01@gmail.com</li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
                    <h6>Follow</h6>
                    <ul class="list-inline d-inline-block">
                        <li class="list-inline-item"><a href="#" class="text-dark"><i class="ti-facebook"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="text-dark"><i class="ti-twitter-alt"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="text-dark"><i class="ti-linkedin"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="text-dark"><i class="ti-github"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center pb-3">
        <p class="mb-0">
            Copyright ©
            <script>
var CurrentYear = new Date().getFullYear()
    document.write(CurrentYear)</script>Developed By  <a href="https://kaz.com.ng/">Kazeem Quadri</a>
        </p>
    </div>
</footer>